h1 {
	font-family: Georgia, serif;
	color: purple;
}
.nav {
	font-family: Helvitica, serif;
	color: red;
}
.container {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	padding: 200px 0;
	margin: 250px;
  	background-image: url("https://images.squarespace-cdn.com/content/v1/5c3918f01aef1dcbdb603b67/1645044245558-60PL8CYMM74LBFDO6DFH/Jellyfish.jpg?format=1500w");
  	background-size: cover;
  	color: orange;
}
