body {
	height: 100%;
	margin: 0;
	text-align: center; 
	width: 100%;
}

h1 {
	font-size: 32px;
  	font-family: Georgia, serif;
  	color: green;
}

h2 {
	font-size: 58px;
}

.nav {
	font-size: 20px; 
}

p {
	font-size: 30px;
  	font-family: Helvetica, sans-serif;
  	padding: 250px 0;
		margin: 30px;
  	background-image: url("https://images.squarespace-cdn.com/content/v1/5c3918f01aef1dcbdb603b67/1645044245558-60PL8CYMM74LBFDO6DFH/Jellyfish.jpg?format=1500w");
  	background-size: cover;
  	color: aquamarine;
}

.container {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}

#footer {
	font-size: 0.75rem;
}



