.container {
  font-family: Zilla Slab, serif;
  color: red;
}
.container2 {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  padding: 200px 0;
	margin: 250px;
  background-image: url("img src="https://images.squarespace-cdn.com/content/v1/5c3918f01aef1dcbdb603b67/1645044245558-60PL8CYMM74LBFDO6DFH/Jellyfish.jpg?format=1500w");
  background-size: cover;
  color: #ffffff;
}
